* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: "Montserrat", sans-serif;
    background: #fff;
    line-height: 1.6; 
}

.container {
    max-width: 1280px;
    max-height: 1000px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden; 
}

a {
    color: #4a4a48;
    text-decoration: none; 
}
  
ul {
    list-style: none; 
}

a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; 
}
    
a:hover {
    color: #000;
    border-color: #000; 
    cursor: pointer;
}

#home {
    height: 100vh;
    /* color: #d8dad3;  */
    color: #000;
    /* background-color:  */
}

#home .content {
    color: #000000;
    text-align: center;
    padding-top: 12%;
}

#nav {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#nav ul {
    display: flex;
    justify-self: right;
}

#nav li {
    padding: 1rem 1rem;
    margin-left: 25px;
    margin-right: 25px;
}

#comp {
    margin-right: 40px;
    margin-left: 35px;
}

#map {
    margin-right: 100px;
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 5% auto;
    width: 75%;
    /* height: 80%; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
    0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: openModal;
    animation-duration: 1s;
}

/* .modal-header {
    padding: 15px;
    background: rgb(243, 239, 239);
} */

span {
    margin-right: 10px;
}

.modal-body {
    padding: 10px 30px;
    text-align: center;

}

/* .modal-footer {
    background: rgb(243, 239, 239);
    padding: 10px;
    color: #fff;
    text-align: center;
} */

#close-modal,
#close-comp-modal,
#close-map-modal, 
#c-close-modal,
#g-close-modal, 
#d-close-modal, 
#a-close-modal ,
#e-close-modal ,
#b-close-modal ,
#f-sharp-close-modal ,
#d-flat-close-modal ,
#a-flat-close-modal ,
#e-flat-close-modal ,
#b-flat-close-modal ,
#f-close-modal {
    color: #ccc;
    float: right;
    top: 0;
    font-size: 40px;
    display: block;
}

#close-modal:hover, #close-modal:focus, 
#close-comp-modal:hover, #close-comp-modal:focus, 
#close-map-modal:hover, #close-map-modal:focus, 
#c-close-modal:hover, #c-close-modal:focus, 
#g-close-modal:hover, #g-close-modal:focus, 
#d-close-modal:hover, #d-close-modal:focus, 
#a-close-modal:hover, #a-close-modal:focus, 
#e-close-modal:hover, #e-close-modal:focus, 
#b-close-modal:hover, #b-close-modal:focus, 
#f-sharp-close-modal:hover, #f-sharp-close-modal:focus, 
#d-flat-close-modal:hover, #d-flat-close-modal:focus, 
#a-flat-close-modal:hover, #a-flat-close-modal:focus, 
#e-flat-close-modal:hover, #e-flat-close-modal:focus, 
#b-flat-close-modal:hover, #b-flat-close-modal:focus, 
#f-close-modal:hover, #f-close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal p {
   margin-top: 25px; 
   margin-bottom: 25px; 
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    display: inline;
    font-size: x-large;
    font-weight: lighter;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
}

audio {
    margin-top: 10px;
}

img {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

img#circle, map area{
    outline: none;
}

.modal-image {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.key-image {
    width: 50%;
    height: 50%;
    margin-bottom: 0;
}
audio {
    width: 100%;
}

.major-minor {
    border-top: rgb(37, 85, 218) solid 5px;
    padding-top: 25px;
}




@keyframes openModal{
    from{opacity: 0}
    to{opacity: 1}
}

